In [2]:
import requests, zipfile, io
import pandas as pd
import numpy as np
data_path = "~/CIS550/commodify/data/"

### Create the Political Entity table 

We will use the unique countries in the USDA agricultural data and a list of US state and territory names borrowed from gist.github.com

In [3]:
zip_url = "https://apps.fas.usda.gov/psdonline/downloads/psd_alldata_csv.zip"

r = requests.get(zip_url)
if r.ok:
  z = zipfile.ZipFile(io.BytesIO(r.content))
  usda_data = pd.read_csv(z.open('psd_alldata.csv'))

usda_data.head(n=5)

usda_data["Country_Name"].unique()

KeyboardInterrupt:

In [4]:
pol_ent = pd.DataFrame(usda_data["Country_Name"].unique(), columns = ["name"])
pol_ent["is_country"] = 1
pol_ent

                           name  is_country
0                   Afghanistan           1
1                       Algeria           1
2                     Argentina           1
3                     Australia           1
4                        Brazil           1
..                          ...         ...
208                  Seychelles           1
209         St. Kitts and Nevis           1
210                   St. Lucia           1
211                       Tonga           1
212  Virgin Islands of the U.S.           1

[213 rows x 2 columns]

### Add in the US political entity names 

List of names taken from https://gist.github.com/norcal82/e4c7e8113f377db184bb

In [5]:
us_names = np.array(["Alaska", "Alabama", "Arkansas", "American Samoa", "Arizona", "California", "Colorado", "Connecticut", "District of Columbia", "Delaware", "Florida", "Georgia", "Guam", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Virgin Islands", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"])

us = pd.DataFrame(us_names, columns = ["name"])

us["is_country"] = 0

us

                    name  is_country
0                 Alaska           0
1                Alabama           0
2               Arkansas           0
3         American Samoa           0
4                Arizona           0
5             California           0
6               Colorado           0
7            Connecticut           0
8   District of Columbia           0
9               Delaware           0
10               Florida           0
11               Georgia           0
12                  Guam           0
13                Hawaii           0
14                  Iowa           0
15                 Idaho           0
16              Illinois           0
17               Indiana           0
18                Kansas           0
19              Kentucky           0
20             Louisiana           0
21         Massachusetts           0
22              Maryland           0
23                 Maine           0
24              Michigan           0
25             Minnesota           0
26              Missouri           0
27           Mississippi           0
28               Montana           0
29        North Carolina           0
30          North Dakota           0
31              Nebraska           0
32         New Hampshire           0
33            New Jersey           0
34            New Mexico           0
35                Nevada           0
36              New York           0
37                  Ohio           0
38              Oklahoma           0
39                Oregon           0
40          Pennsylvania           0
41           Puerto Rico           0
42          Rhode Island           0
43        South Carolina           0
44          South Dakota           0
45             Tennessee           0
46                 Texas           0
47                  Utah           0
48              Virginia           0
49        Virgin Islands           0
50               Vermont           0
51            Washington           0
52             Wisconsin           0
53         West Virginia           0
54               Wyoming           0

In [6]:
pol_ent = pol_ent.append(us)
pol_ent

             name  is_country
0            Iran           1
1           Italy           1
2         Morocco           1
3        Portugal           1
4           Spain           1
..            ...         ...
50        Vermont           0
51     Washington           0
52      Wisconsin           0
53  West Virginia           0
54        Wyoming           0

[268 rows x 2 columns]

### Now create a unique ID just in case of name collisions between country names and US states/territories

In [14]:
pol_ent = pol_ent.sort_values(by = "name")
pol_ent["id"] = np.arange(0, pol_ent.shape[0])
pol_ent[["id", "name", "is_country"]]

      id                 name  is_country
39     0          Afghanistan           1
1      1              Alabama           0
0      2               Alaska           0
92     3              Albania           1
10     4              Algeria           1
..   ...                  ...         ...
169  263         Yemen (Aden)           1
119  264        Yemen (Sanaa)           1
89   265  Yugoslavia (>05/92)           1
104  266               Zambia           1
105  267             Zimbabwe           1

[268 rows x 3 columns]

In [15]:
pol_ent[["id", "name", "is_country"]].to_csv(data_path + "political_entity.csv", index = False)