In [1]:
import pandas as pd
import numpy as np
data_path = "~/CIS550/commodify/data/"

### Create the Political Entity table 

We will use the unique countries in the USDA agricultural data and a list of US state and territory names borrowed from gist.github.com

In [2]:
usda_data = pd.read_csv(data_path + "usda_data.csv")

usda_data["Country_Name"].unique()

array(['Iran', 'Italy', 'Morocco', 'Portugal', 'Spain', 'United States',
       'Turkey', 'Greece', 'Tunisia', 'Thailand', 'Algeria', 'Argentina',
       'Australia', 'Brazil', 'Canada', 'Chile', 'China', 'Colombia',
       'European Union', 'Hong Kong', 'India', 'Indonesia', 'Israel',
       'Japan', 'Jordan', 'Kazakhstan', 'Korea, South', 'Malaysia',
       'Mexico', 'New Zealand', 'Norway', 'Pakistan', 'Russia',
       'Saudi Arabia', 'South Africa', 'Switzerland', 'Taiwan',
       'United Arab Emirates', 'Vietnam', 'Afghanistan', 'Austria',
       'Belgium-Luxembourg', 'Bulgaria', 'Costa Rica', 'Denmark',
       'Dominican Republic', 'Ecuador', 'El Salvador', 'Finland',
       'Former Czechoslovakia', 'Former Yugoslavia', 'France',
       'German Democratic Republic', 'Germany, Federal Republic of',
       'Guatemala', 'Honduras', 'Hungary', 'Ireland', 'Netherlands',
       'Nicaragua', 'Panama', 'Peru', 'Philippines', 'Poland', 'Romania',
       'Sweden', 'Union of Soviet Socialist Repu', 'United Kingdom',
       'Uruguay', 'Venezuela', 'Egypt', 'Belize', 'Belarus', 'Armenia',
       'Azerbaijan', 'Estonia', 'Georgia', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Moldova', 'Tajikistan', 'Turkmenistan', 'Ukraine',
       'Uzbekistan', 'Czech Republic', 'Haiti', 'Slovakia', 'Germany',
       'Yugoslavia (>05/92)', 'EU-15', 'Singapore', 'Albania', 'Angola',
       'Bosnia and Herzegovina', 'Burma', 'Iraq', 'Korea, North',
       'Kuwait', 'Nepal', 'Nigeria', 'Oman', 'Qatar', 'Syria', 'Zambia',
       'Zimbabwe', 'Lebanon', 'Bangladesh', 'Libya', 'Sri Lanka',
       'Croatia', 'Serbia', 'Bolivia', 'Cyprus', 'Ethiopia', 'Iceland',
       'Kenya', 'Malta', 'Cuba', 'Yemen (Sanaa)', 'Bhutan', 'Yemen',
       'North Macedonia', 'Serbia and Montenegro', 'Slovenia', 'Eritrea',
       'Uganda', 'Benin', 'Burundi', 'Cameroon',
       'Central African Republic', 'Congo (Brazzaville)',
       'Congo (Kinshasa)', "Cote d'Ivoire", 'Equatorial Guinea', 'Gabon',
       'Ghana', 'Guinea', 'Guyana', 'Jamaica', 'Liberia', 'Madagascar',
       'Malawi', 'New Caledonia', 'Papua New Guinea', 'Paraguay',
       'Rwanda', 'Sierra Leone', 'Tanzania', 'Togo',
       'Trinidad and Tobago', 'Laos', 'Botswana', 'Burkina', 'Cambodia',
       'Lesotho', 'Mali', 'Senegal', 'Mozambique', 'Somalia',
       'Gambia, The', 'Mauritania', 'Eswatini', 'Guinea-Bissau',
       'Cabo Verde', 'Chad', 'Namibia', 'South Sudan', 'Sudan',
       'Yemen (Aden)', 'Niger', 'Mauritius', 'Bahrain', 'Luxembourg',
       'Gaza Strip', 'Fiji', 'Samoa', 'Faroe Islands', 'Bermuda',
       'Netherlands Antilles', 'Suriname', 'Barbados',
       'Antigua and Barbuda', 'Bahamas, The', 'Macau', 'Montenegro',
       'Other', 'Djibouti', 'Comoros', 'Sao Tome and Principe',
       'Solomon Islands', 'Vanuatu/New Hebrides',
       'Belgium (without Luxembourg)', 'Brunei', 'Reunion', 'Guadeloupe',
       'Martinique', 'Puerto Rico', 'St. Kitts and Nevis',
       'Virgin Islands of the U.S.', 'Mongolia', 'Fr.Ter.Africa-Issas',
       'Gibraltar', 'Maldives', 'French West Indies',
       'Gilbert and Ellice Islands', 'Greenland', 'Grenada', 'Seychelles',
       'St. Lucia', 'French Polynesia', 'Tonga', 'EU-25'], dtype=object)

In [3]:
pol_ent = pd.DataFrame(usda_data["Country_Name"].unique(), columns = ["name"])
pol_ent["is_country"] = 1
pol_ent

                 name  is_country
0                Iran           1
1               Italy           1
2             Morocco           1
3            Portugal           1
4               Spain           1
..                ...         ...
208        Seychelles           1
209         St. Lucia           1
210  French Polynesia           1
211             Tonga           1
212             EU-25           1

[213 rows x 2 columns]

### Add in the US political entity names 

List of names taken from https://gist.github.com/norcal82/e4c7e8113f377db184bb

In [4]:
us_names = np.array(["Alaska", "Alabama", "Arkansas", "American Samoa", "Arizona", "California", "Colorado", "Connecticut", "District of Columbia", "Delaware", "Florida", "Georgia", "Guam", "Hawaii", "Iowa", "Idaho", "Illinois", "Indiana", "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Puerto Rico", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Virgin Islands", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"])

us = pd.DataFrame(us_names, columns = ["name"])

us["is_country"] = 0

us

                    name  is_country
0                 Alaska           0
1                Alabama           0
2               Arkansas           0
3         American Samoa           0
4                Arizona           0
5             California           0
6               Colorado           0
7            Connecticut           0
8   District of Columbia           0
9               Delaware           0
10               Florida           0
11               Georgia           0
12                  Guam           0
13                Hawaii           0
14                  Iowa           0
15                 Idaho           0
16              Illinois           0
17               Indiana           0
18                Kansas           0
19              Kentucky           0
20             Louisiana           0
21         Massachusetts           0
22              Maryland           0
23                 Maine           0
24              Michigan           0
25             Minnesota           0
26              Missouri           0
27           Mississippi           0
28               Montana           0
29        North Carolina           0
30          North Dakota           0
31              Nebraska           0
32         New Hampshire           0
33            New Jersey           0
34            New Mexico           0
35                Nevada           0
36              New York           0
37                  Ohio           0
38              Oklahoma           0
39                Oregon           0
40          Pennsylvania           0
41           Puerto Rico           0
42          Rhode Island           0
43        South Carolina           0
44          South Dakota           0
45             Tennessee           0
46                 Texas           0
47                  Utah           0
48              Virginia           0
49        Virgin Islands           0
50               Vermont           0
51            Washington           0
52             Wisconsin           0
53         West Virginia           0
54               Wyoming           0

In [12]:
pol_ent = pol_ent.append(us)
pol_ent

             name  is_country
0            Iran           1
1           Italy           1
2         Morocco           1
3        Portugal           1
4           Spain           1
..            ...         ...
50        Vermont           0
51     Washington           0
52      Wisconsin           0
53  West Virginia           0
54        Wyoming           0

[268 rows x 2 columns]

In [13]:
pol_ent.to_csv(data_path + "political_entity.csv", index = False)