<a href="https://colab.research.google.com/github/stevegbrooks/commodify/blob/main/preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import requests, zipfile, io
import pandas as pd

## Process commodities data from USDA

In [23]:
zip_url = "https://apps.fas.usda.gov/psdonline/downloads/psd_alldata_csv.zip"

r = requests.get(zip_url)
if r.ok:
  z = zipfile.ZipFile(io.BytesIO(r.content))
  usda_data = pd.read_csv(z.open('psd_alldata.csv'))

usda_data.head(n=5)

   Commodity_Code   Commodity_Description  ... Unit_Description Value
0          577400  Almonds, Shelled Basis  ...             (MT)   0.0
1          577400  Almonds, Shelled Basis  ...             (MT)   0.0
2          577400  Almonds, Shelled Basis  ...             (MT)   0.0
3          577400  Almonds, Shelled Basis  ...             (MT)   0.0
4          577400  Almonds, Shelled Basis  ...             (MT)   0.0

[5 rows x 12 columns]