<a href="https://colab.research.google.com/github/stevegbrooks/commodify/blob/preprocessing/usda_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import requests, zipfile, io
import pandas as pd

## Process commodities data from USDA

In [3]:
zip_url = "https://apps.fas.usda.gov/psdonline/downloads/psd_alldata_csv.zip"

r = requests.get(zip_url)
if r.ok:
  z = zipfile.ZipFile(io.BytesIO(r.content))
  usda_data = pd.read_csv(z.open('psd_alldata.csv'))

usda_data.head(n=5)

   Commodity_Code   Commodity_Description  ... Unit_Description Value
0          577400  Almonds, Shelled Basis  ...             (MT)   0.0
1          577400  Almonds, Shelled Basis  ...             (MT)   0.0
2          577400  Almonds, Shelled Basis  ...             (MT)   0.0
3          577400  Almonds, Shelled Basis  ...             (MT)   0.0
4          577400  Almonds, Shelled Basis  ...             (MT)   0.0

[5 rows x 12 columns]

In [4]:
usda_data['Commodity_Description'].unique()

array(['Almonds, Shelled Basis', 'Animal Numbers, Cattle',
       'Animal Numbers, Swine', 'Apples, Fresh', 'Barley',
       'Cherries (Sweet&Sour), Fresh', 'Coffee, Green', 'Corn', 'Cotton',
       'Dairy, Butter', 'Dairy, Cheese', 'Dairy, Dry Whole Milk Powder',
       'Dairy, Milk, Fluid', 'Dairy, Milk, Nonfat Dry',
       'Grapefruit, Fresh', 'Grapes, Fresh Table', 'Lemons/Limes, Fresh',
       'Meal, Copra', 'Meal, Cottonseed', 'Meal, Fish',
       'Meal, Palm Kernel', 'Meal, Peanut', 'Meal, Rapeseed',
       'Meal, Soybean', 'Meal, Soybean (Local)', 'Meal, Sunflowerseed',
       'Meat, Beef and Veal', 'Meat, Chicken', 'Meat, Swine', 'Millet',
       'Mixed Grain', 'Oats', 'Oil, Coconut', 'Oil, Cottonseed',
       'Oil, Olive', 'Oil, Palm', 'Oil, Palm Kernel', 'Oil, Peanut',
       'Oil, Rapeseed', 'Oil, Soybean', 'Oil, Soybean (Local)',
       'Oil, Sunflowerseed', 'Oilseed, Copra', 'Oilseed, Cottonseed',
       'Oilseed, Palm Kernel', 'Oilseed, Peanut', 'Oilseed, Rapeseed',
       'Oilseed, Soybean', 'Oilseed, Soybean (Local)',
       'Oilseed, Sunflowerseed', 'Orange Juice', 'Oranges, Fresh',
       'Peaches & Nectarines, Fresh', 'Pears, Fresh',
       'Pistachios, Inshell Basis', 'Poultry, Meat, Broiler',
       'Rice, Milled', 'Rye', 'Sorghum', 'Sugar, Centrifugal',
       'Tangerines/Mandarins, Fresh', 'Walnuts, Inshell Basis', 'Wheat'],
      dtype=object)